/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body { margin: 2em; }
fieldset { display: inline; }
h2 { margin: 0; }
form { margin-top: 1em; margin-bottom: 2em; }
table { width: 100%; }
select { margin-top: 2px; margin-bottom: 1px; }
.repor-axis-fields { margin-bottom: 1em; }
.repor-dimension-fields--number-dimension input { width: 5em; }
.repor-dimension-fields--time-dimension input { width: 10em; }
.repor-dimension-fields--time-dimension input:nth-child(4) { width: 5em; }
